# -----------------------------------------------------------------------------
# Core Framework & Routing
# -----------------------------------------------------------------------------
fastapi
uvicorn[standard]
pydantic[email]

# -----------------------------------------------------------------------------
# Database & Async ORM (PostgreSQL)
# -----------------------------------------------------------------------------
SQLAlchemy
asyncpg
greenlet

# -----------------------------------------------------------------------------
# Authentication & Cryptography
# -----------------------------------------------------------------------------
argon2-cffi
pyjwt[crypto]

# -----------------------------------------------------------------------------
# HTTP Client & Services Integration

Paystack
# -----------------------------------------------------------------------------
httpx
cloudinary
python-jose[cryptography]
python-multipart
replicate